@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1623246730748') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e647";
}

.icon-wangzherongyao_:before {
  content: "\e6ba";
}

.icon-ellipsis:before {
  content: "\e6c7";
}

.icon-news:before {
  content: "\e64d";
}

.icon-Active:before {
  content: "\e64a";
}

