@import './variables';
// 全局样式重置

* {
    box-sizing: border-box; // 挤压内容，不会撑大网页
    outline: none;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background-color: #F1F1F1;
    -webkit-font-smoothing: antialiased
}

a {
   color: #999 
}

@each $colorKey, $color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }

    .bg-#{$colorKey} {
        background-color: $color;
    }
}

// text align
@each $var in (left, center, right) {
    .text-#{$var} { // #{}属性名定义
        text-align: $var !important;
    }
}


@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size
    }
}

// width,height
.w-100 {
    width: 100%
}
.h-100 {
    height: 100%;
}

// flex
.d-flex {
    display: flex;
}
.flex-column{
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

@each $key, $value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

.flex-grow-1 {
    flex-grow: 1
}

@each $typeKey, $type in $spacing-types {
    @each $sizeKey, $size in $spacing-sizes {
        // .m-1 { margin: 0.25rem}
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size
        }
    }

    @each $sizeKey, $size in $spacing-sizes {
        // .mx-1 { margin-left: 0.25rem; margin-right: 0.25rem;}
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size
        }
    }

    @each $sizeKey, $size in $spacing-sizes {
        // .my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem;}
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size
        }
    }

    @each $directionKey, $direction in $spacing-directions {
        @each $sizeKey, $size in $spacing-sizes {
            // .mt-1 { mragin-top: 0.25rem}
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size * $spacing-base-size
            }
        }
    }
}

// button
.btn {
  border: none;
  border-radius: 0.1538rem;
  // map-get 方法表示从前面定义的变量中取值
  font-size: map-get($font-sizes, 'sm') * $base-font-size;
  padding: 0.3rem 0.6rem;  
}

//nav
.nav{
    .nav-item {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;
        // & nav-item本身，因为active与nav-item同级
        &.active {
            border-bottom: 3px solid #fff;
        }
    }
}

// sprite
.sprite-logo {
	background: url('../images/index.png') no-repeat 0 72.588%;
	background-size: 28.8462rem 35rem;
	width: 2.3077rem;
	height: 2.3077rem;
}
.sprite-download {
    background: url('../images/index.png') no-repeat 18.73% 71.694%;
	background-size: 28.8462rem 35rem;
	width: 4.6154rem;
	height: 1.8462rem;
}
.sprite {
  background: url(../images/index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-news {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-story {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 90.483% 15.614%;
  }
  &.sprite-store {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 36.746% 0.924%;
  }
  &.sprite-experience {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 10.408% 15.517%;
  }
  &.sprite-newcomer {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 89.733% 1.266%;
  }
  &.sprite-inherited {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 36.467% 15.287%;
  }
  &.sprite-camp {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.3% 0.927%;
  }
  &.sprite-public {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 0 96.207%;
  }  
  &.sprite-arrow {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
  }     
}
.sprite-version {
    background: url(../images/version-icon.png) no-repeat 0 0;
    background-size: 1.7692rem 1.5385rem;
    width: 1.7692rem;
    height: 1.5385rem;
    display: inline-block;
}
.sprite-setting {
    background: url(../images/djhj.png) no-repeat 0 0;
    background-size: 1.7692rem 1.5385rem;
    width: 1.7692rem;
    height: 1.5385rem;
    display: inline-block;
}
.sprite-ip {
    background: url(../images/ipgc.png) no-repeat 0 0;
    background-size: 1.7692rem 1.5385rem;
    width: 1.7692rem;
    height: 1.5385rem;
    display: inline-block;
}
.sprite-interactive {
    background: url(../images/cyhdy.png) no-repeat 0 0;
    background-size: 1.7692rem 1.5385rem;
    width: 1.7692rem;
    height: 1.5385rem;
    display: inline-block;
}

